#emergency_body {
    background-image: url("../images/theKangaroo.jpg");
  /* Set rules to fill background */
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover; 
    top: 50px;  
    left: 0px;
        
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    
   }

#transbox {
  margin: 80px;
  background-color: #FF9D00;
  opacity: 0.5;
}

#transbox p {
  margin: 50%;
  font-weight: bold;
  color: #000000;
}