{% extends 'base.html' %}


{% block body %}
<div class="container">
    <div style="text-align:center">
    <div class="row">
            <h1>New Project</h1>
                <form action="/addGuide" id="create_guide_form" method="POST"
                    enctype = "multipart/form-data">
                    <label for="file">Upload Image:</label><br></br>
                    <input type = "file" name = "file" style="margin: 0 auto"/><br></br>
                    <label for="guideName">Guide Name:</label><br></br>
                    <input type="text" name="guideName" id="guideName" required><br></br>
                    <label for="description">Description</label><br></br>
                    <textarea id="description" name="description" placeholder="write something.." style="height:170pxt"></textarea><br></br>
                    <label for="species">Species:</label>
                    <input type="text" id="species" name="species"><br></br>
                    <input type="submit" value="Create">  
                </form>
    </div>
    </div>
</div>
{% endblock %}