{% extends 'base.html' %}

{% block body %}
<script>
    function updateLocation() {
        document.getElementById("locationLoading").style.display = "block";
        setTimeout(() => {
            document.getElementById("location").value = "123 Smith St, Smallville";
            document.getElementById("locationLoading").style.display = "none";
        }, 2000)
    }
</script>

<h1>Injury Report</h1>
<form>
    <label for="animalInput">Animal: </label>
    <input id="animalInput" type="text">
    <br />
    <br />
    <label for="photoUpload">Upload a photo to help our experts identify the issue: </label>
    <input id="photoUpload" type="file">
    <br />
    <br />
    <label for="location">Whereabouts are you?</label>
    <input id="location" type="text">
    <button type="button" onclick="updateLocation()">Get your location</button>
    <div id="locationLoading" class="loader" style="display: none;"></div>
    <br />
    <br />

    <label for="ageSelect">Roughly how old does it look?</label>
    <select id="ageSelect">
        <option value="baby">Baby</option> 
        <option value="midaged">Adult</option>
        <option value="elderly">Elderly</option>
        <option value="unsure">Unsure</option>
    </select>
    <br />
    <br />

    <submit>Submit report</submit>


</form>
{% endblock %}